# kaggle - Learn: Intro to Machine Learning
- https://www.kaggle.com/learn/intro-to-machine-learning
## 3. Your First Machine Learning Model

In [1]:
import pandas as pd
print('pd.__version__:', pd.__version__)

pd.__version__: 1.5.3

- Dataset had too many variables to wrap (even to print out nicely).

In [2]:
melbourne_df = pd.read_csv('min_melb_data.csv')
#melbourne_df.head(3)
display(melbourne_df)
#melbourne_df.describe()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2674,Wheelers Hill,12 Strada Cr,4.0,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
2675,Williamstown,77 Merrett Dr,3.0,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
2676,Williamstown,83 Power St,3.0,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
2677,Williamstown,96 Verdon St,4.0,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
2678,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [3]:
# To see if there are missing values. Count value give that info.
melbourne_df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,2678.000000,2.677000e+03,2677.000000,2677.000000,2677.000000,2677.000000,2655.000000,2677.000000,1503.000000,1692.000000,2677.000000,2677.000000,2677.000000
mean,7.991785,1.167228e+06,9.936235,3111.626448,2.974225,1.568173,1.629379,498.475532,185.334198,1960.656028,-37.819283,145.002603,7250.172581
std,258.226978,6.467142e+05,4.965301,75.759829,0.955126,0.713632,0.946438,1115.995294,1163.387615,37.244583,0.074724,0.094097,3845.308614
min,1.000000,1.310000e+05,1.600000,3011.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1830.000000,-38.174880,144.556660,389.000000
25%,2.000000,7.220000e+05,6.300000,3056.000000,2.000000,1.000000,1.000000,186.000000,96.000000,1930.000000,-37.876100,144.953300,4480.000000
50%,3.000000,1.000000e+06,10.300000,3108.000000,3.000000,1.000000,2.000000,427.000000,130.000000,1965.000000,-37.814900,145.003700,6795.000000
75%,4.000000,1.425000e+06,11.800000,3163.000000,4.000000,2.000000,2.000000,650.000000,180.500000,1995.000000,-37.765200,145.066200,9264.000000
max,13366.000000,5.525000e+06,48.100000,3977.000000,9.000000,7.000000,10.000000,44500.000000,44515.000000,2018.000000,-37.453920,145.412880,21650.000000

- There are statistical techniques to automatically prioritize variables/columns.
- We'll start by picking a few variables using our intuition

In [4]:
melbourne_df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
# To avoid missing values we will take the simplest option for now, and drop houses from our data. 
#    (We'll learn to handle missing values in a later tutorial. )

# dropna drops missing values (think of na as "not available")
melbourne_df = melbourne_df.dropna(axis=0)
display(melbourne_df)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3.0,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2.0,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,Richmond,308/633 Church St,3.0,u,790000.0,SP,Biggin,8/04/2017,2.6,3121.0,...,1.0,1.0,0.0,90.0,1999.0,Yarra,-37.8330,144.9970,Northern Metropolitan,14949.0
2123,Richmond,1/2 Little Kent St,2.0,t,1090000.0,S,Fletchers,8/04/2017,2.6,3121.0,...,2.0,1.0,0.0,137.0,2002.0,Yarra,-37.8151,145.0003,Northern Metropolitan,14949.0
2124,Richmond,113A Richmond Tce,3.0,h,1785000.0,S,hockingstuart,8/04/2017,2.6,3121.0,...,1.0,0.0,240.0,115.0,1958.0,Yarra,-37.8221,144.9964,Northern Metropolitan,14949.0
2125,Richmond,106/59 Stawell St,2.0,u,560000.0,PI,Ray,8/04/2017,2.6,3121.0,...,1.0,1.0,7455.0,65.0,2008.0,Yarra,-37.8220,145.0104,Northern Metropolitan,14949.0
2127,Richmond,43 Gardner St,2.0,h,1050000.0,PI,Biggin,13/05/2017,2.6,3121.0,...,1.0,0.0,134.0,63.7,1900.0,Yarra,-37.8170,145.0058,Northern Metropolitan,14949.0

- A lot less rows (same columns of course)
- Let's take a look count value

In [6]:
melbourne_df.describe()
# Same value for each column!

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,1177.000000,1.177000e+03,1177.000000,1177.000000,1177.000000,1177.000000,1177.000000,1177.000000,1177.000000,1177.000000,1177.000000,1177.000000,1177.000000
mean,2.963466,1.190989e+06,8.875021,3106.951572,2.920136,1.604078,1.543755,445.096856,149.134834,1958.761257,-37.820643,145.001077,7032.371283
std,0.982599,6.842106e+05,3.326188,57.855528,0.962959,0.745451,0.879663,816.859939,128.429785,38.338072,0.061978,0.073772,3470.731608
min,1.000000,1.310000e+05,1.600000,3015.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1830.000000,-37.937400,144.810500,1651.000000
25%,2.000000,7.050000e+05,5.900000,3056.000000,2.000000,1.000000,1.000000,150.000000,92.000000,1930.000000,-37.874000,144.955500,4480.000000
50%,3.000000,1.000000e+06,9.200000,3105.000000,3.000000,1.000000,1.000000,346.000000,125.000000,1960.000000,-37.815100,144.999400,6795.000000
75%,4.000000,1.500000e+06,11.400000,3163.000000,3.000000,2.000000,2.000000,606.000000,176.000000,1995.000000,-37.768900,145.061100,9028.000000
max,8.000000,5.525000e+06,14.000000,3207.000000,9.000000,7.000000,6.000000,21715.000000,3112.000000,2018.000000,-37.695500,145.143600,21650.000000

### Selecting The Prediction Target (using dot-motation)
- This single column is stored in a pandas Series.
- We'll use the dot notation to select the column we want to predict, which is called the prediction target. By convention, the prediction target is called 'y'.

In [7]:
y = melbourne_df.Price
display(y)
print(y.index)

1       1035000.0
2       1465000.0
4       1600000.0
6       1876000.0
7       1636000.0
          ...
2120     790000.0
2123    1090000.0
2124    1785000.0
2125     560000.0
2127    1050000.0
Name: Price, Length: 1177, dtype: float64

Int64Index([   1,    2,    4,    6,    7,    9,   11,   12,   15,   16,
            ...
            2107, 2112, 2115, 2116, 2118, 2120, 2123, 2124, 2125, 2127],
           dtype='int64', length=1177)

### Choosing "Features"
- The columns that are inputted into our model (and later used to make predictions) are called "features."
- Sometimes, you will use all columns except the target as features. Other times you'll be better off with fewer features.
- For now, we'll build a model with only a few features. Later on you'll see how to iterate and compare models built with different features.

In [8]:
## -- features with multiple columns is the usual and is a new df that es call X

# melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
# X = melbourne_df[melbourne_features]

X = melbourne_df[['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']]
display(X)

# Let's quickly review the data we'll be using to predict house prices
X.describe()

      Rooms  Bathroom  Landsize  Lattitude  Longtitude
1       2.0       1.0     156.0   -37.8079    144.9934
2       3.0       2.0     134.0   -37.8093    144.9944
4       4.0       1.0     120.0   -37.8072    144.9941
6       3.0       2.0     245.0   -37.8024    144.9993
7       2.0       1.0     256.0   -37.8060    144.9954
...     ...       ...       ...        ...         ...
2120    3.0       1.0       0.0   -37.8330    144.9970
2123    2.0       2.0       0.0   -37.8151    145.0003
2124    3.0       1.0     240.0   -37.8221    144.9964
2125    2.0       1.0    7455.0   -37.8220    145.0104
2127    2.0       1.0     134.0   -37.8170    145.0058

[1177 rows x 5 columns]

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  1177.000000  1177.000000   1177.000000  1177.000000  1177.000000
mean      2.963466     1.604078    445.096856   -37.820643   145.001077
std       0.982599     0.745451    816.859939     0.061978     0.073772
min       1.000000     1.000000      0.000000   -37.937400   144.810500
25%       2.000000     1.000000    150.000000   -37.874000   144.955500
50%       3.000000     1.000000    346.000000   -37.815100   144.999400
75%       4.000000     2.000000    606.000000   -37.768900   145.061100
max       8.000000     7.000000  21715.000000   -37.695500   145.143600

> Visually checking your data with these commands [describe(), head(), tail(), display()] is an important part of a data scientist's job. You'll frequently find surprises in the dataset that deserve further inspection.

## Building Your Model with scikit-learn
- Scikit-learn is easily the most popular library for modeling the types of data typically stored in DataFrames.
- The steps to building and using a model are:
    - __Define:__ What type of model will it be? A decision tree? Some other type of model? Some other parameters of the model type are specified too.
    - __Fit:__ Capture patterns from provided data. __*This is the heart of modeling*__.
    - __Predict:__ Just what it sounds like
    - __Evaluate:__ Determine how accurate the model's predictions are.

In [9]:
### Here is an example of defining a decision tree model with scikit-learn and fitting it with
# the features and target variable.

from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

- Many machine learning models allow some randomness in model training. Specifying a number for random_state ensures you get the same results in each run. This is considered a good practice. You use any number, and model quality won't depend meaningfully on exactly what value you choose.
- We now have a fitted model that we can use to make predictions.

In [10]:

###  In practice, you'll want to make predictions for new houses coming on the market rather than the houses we 
# already have prices for. But we'll make predictions for the first few rows of the training data to see how the 
# predict function works.

print("Making predictions for the following 5 houses:")
print(X.head())
print(melbourne_df.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1    2.0       1.0     156.0   -37.8079    144.9934
2    3.0       2.0     134.0   -37.8093    144.9944
4    4.0       1.0     120.0   -37.8072    144.9941
6    3.0       2.0     245.0   -37.8024    144.9993
7    2.0       1.0     256.0   -37.8060    144.9954
       Suburb          Address  Rooms Type      Price Method SellerG  \
1  Abbotsford  25 Bloomburg St    2.0    h  1035000.0      S  Biggin
2  Abbotsford     5 Charles St    3.0    h  1465000.0     SP  Biggin
4  Abbotsford      55a Park St    4.0    h  1600000.0     VB  Nelson
6  Abbotsford     124 Yarra St    3.0    h  1876000.0      S  Nelson
7  Abbotsford    98 Charles St    2.0    h  1636000.0      S  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
1  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
2  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
4  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0
6  7/05/2016       2.5    3067.0  ...       2.0  0.0     245.0         210.0
7  8/10/2016       2.5    3067.0  ...       1.0  2.0     256.0         107.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
1     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
2     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
4     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan
6     1910.0        Yarra  -37.8024    144.9993  Northern Metropolitan
7     1890.0        Yarra  -37.8060    144.9954  Northern Metropolitan

  Propertycount
1        4019.0
2        4019.0
4        4019.0
6        4019.0
7        4019.0

[5 rows x 21 columns]
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

## Exercise

In [11]:
# # Code you have previously used to load data
# import pandas as pd

# # Path of the file to read
# iowa_file_path = '../input/home-data-for-ml-course/train.csv'

# home_data = pd.read_csv(iowa_file_path)

home_df = pd.read_csv('train.csv')

# # Set up code checking
# from learntools.core import binder
# binder.bind(globals())
# from learntools.machine_learning.ex3 import *

print("Setup Complete")
display(home_df)
home_df.describe()

Setup Complete

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [12]:
## Step 1: Specify Prediction Target
# print the list of columns in the dataset to find the name of the prediction target
home_df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [13]:
y = home_df.SalePrice
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [14]:
### Step 2: Create X

# Create the list of features below
feature_names = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

# Select data corresponding to features in feature_names
X = home_df[feature_names]
X

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9
...,...,...,...,...,...,...,...
1455,7917,1999,953,694,2,3,7
1456,13175,1978,2073,0,2,3,7
1457,9042,1941,1188,1152,2,4,9
1458,9717,1950,1078,0,1,2,5
1459,9937,1965,1256,0,1,3,6

In [15]:
## Review data - Before building a model, take a quick look at X to verify it looks sensible
# print description or statistics from X
print(X.describe())

# print the top few lines
print(X.head())

             LotArea    YearBuilt     1stFlrSF     2ndFlrSF     FullBath  \
count    1460.000000  1460.000000  1460.000000  1460.000000  1460.000000
mean    10516.828082  1971.267808  1162.626712   346.992466     1.565068
std      9981.264932    30.202904   386.587738   436.528436     0.550916
min      1300.000000  1872.000000   334.000000     0.000000     0.000000
25%      7553.500000  1954.000000   882.000000     0.000000     1.000000
50%      9478.500000  1973.000000  1087.000000     0.000000     2.000000
75%     11601.500000  2000.000000  1391.250000   728.000000     2.000000
max    215245.000000  2010.000000  4692.000000  2065.000000     3.000000

       BedroomAbvGr  TotRmsAbvGrd
count   1460.000000   1460.000000
mean       2.866438      6.517808
std        0.815778      1.625393
min        0.000000      2.000000
25%        2.000000      5.000000
50%        3.000000      6.000000
75%        3.000000      7.000000
max        8.000000     14.000000
   LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
0     8450       2003       856       854         2             3
1     9600       1976      1262         0         2             3
2    11250       2001       920       866         2             3
3     9550       1915       961       756         1             3
4    14260       2000      1145      1053         2             4

   TotRmsAbvGrd
0             8
1             6
2             6
3             7
4             9

In [16]:
### Step 3: Specify and Fit Model

#from sklearn.tree import DecisionTreeRegressor
#specify the model. 
#For model reproducibility, set a numeric value for random_state when specifying the model
iowa_model = DecisionTreeRegressor(random_state=1)

# Fit the model
iowa_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [17]:
### Step 4: Make Predictions
predictions = iowa_model.predict(X)
print(predictions)
for i in range(8):
    print(f'{predictions[i]:,}', end=' ')

[208500. 181500. 223500. ... 266500. 142125. 147500.]
208,500.0 181,500.0 223,500.0 140,000.0 250,000.0 143,000.0 307,000.0 200,000.0

In [18]:
## Think about the results
home_df.head(8)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000

In [20]:
home_df[['Id','SalePrice']].head(8)

   Id  SalePrice
0   1     208500
1   2     181500
2   3     223500
3   4     140000
4   5     250000
5   6     143000
6   7     307000
7   8     200000